*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to left, #4297A0, #E57F84) ;
}
div{
    width: 50%;
    background-color: #fff;
    margin: auto;
    margin-top: 5em;
}